[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
stackprinter = "*"
httpx = "*"

[packages]
fastapi = "*"
pyyaml = "*"
uvicorn = "*"
isort = "*"
logzero = "*"
authlib = "*"

[requires]
python_version = "3.6"
