[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.3b0"
isort = "*"

[packages]
pyyaml = "*"
cryptography = "*"
pyjwt = "*"
responder = "*"
httpx = "==0.9.*"
pydantic = "*"
stackprinter = "*"
click = "*"
loguru = "*"
uvloop = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
