[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.3b0"
isort = "*"
bandit = "*"
flake8-bandit = "*"
flake8-black = "*"
flake8-breakpoint = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-deprecated = "*"
flake8-docstrings = "*"
flake8-eradicate = "*"
flake8-if-expr = "*"
flake8-isort = "*"
flake8-pie = "*"
flake8-plugin-utils = "*"
flake8-polyfill = "*"
flake8-print = "*"
flake8-return = "*"
pep8-naming = "*"
pre-commit = "*"

[packages]
pyyaml = "*"
cryptography = "*"
pyjwt = "*"
responder = "*"
httpx = "==0.9.*"
pydantic = "*"
stackprinter = "*"
click = "*"
loguru = "*"
uvloop = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
